@import '../../app.component.scss'; 

.members-component {
    box-sizing: border-box;
    padding: 2em; 
}

.box-container {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; /* Space between grid items */
    padding: 1.2em; /* Padding around the grid */
    margin-top: 2em; 
}

.box {
    width: 80%;
    margin: auto;  
    background: linear-gradient(to bottom, darken($secondary-clr, 20%), #111 80%); 
    color: white; 
    padding: 1em; 
    text-align: center; 
    border-radius: 2em; 

    .body {

        .imgContainer {

            img {
                width: 100%;
                border-radius: 2em;
            }
        }
    }

}

