$indentation: 0rem 2rem;


.footer-main {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2em;

    &-design {
        z-index: 0;
        transform: rotateX(180deg);
        width: 100%;

        svg {
            position: absolute;
        }
    }

    &-contents {
        margin-top: 3.2em;
        background: transparent;
        z-index: 1;
        position: relative;
        padding: $indentation;
    }

}