<!-- TODO: KEEP THE OUTER LAYER IN THE MAIN SCSS FILE NOT IN THE COMPONENT () -->
<div class="application-super">
    <mat-card class="application-super-sub">
        <mat-card-header>
            <mat-card-title>Apply for Membership</mat-card-title>
            <mat-card-subtitle>Start</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>