@import '../../app.component.scss';

.application-super {

    &-sub {
        padding: 1.4em;
        width: 60%;
        margin: auto;
        background-color: #111;

        &-header {
            margin: 1em auto 2em auto;
            text-align: center;
            color: $primary-txt-clr;
            font-weight: bolder;
            letter-spacing: 2px; 

            mat-card-title {
                font-size: 2.8em;
                margin-bottom: 0.3em;
                font-weight: bolder;
            }

            mat-card-subtitle {
                font-style: italic;
                font-size: 1.2em;
            }
        }

        &-content {
            overflow: hidden;
            display: flex;
            flex-shrink: 1;
            gap: 10%;
            margin: 2em 0em;
            justify-content: center;

            &-container {

                mat-card {
                    background: darken($primary-txt-clr, 30%);
                    box-shadow: 0em 0em 0.4em #fff;
                    color: #111;

                    &-header {
                        font-size: 2.8em;
                        font-weight: bolder;
                        margin: 0.6em auto 0em auto;
                        color: white;
                        background-color: #333;
                        padding: 0.8em; 
                        border-radius: 2em;  

                        mat-card-title {
                            font-size: inherit;
                            font-weight: inherit;
                        }

                    }

                    .container-card-content {
                        padding: 0.8em 1.8em;

                        &-text {
                            margin: 3em 0em;
                            font-size: 1.2em;
                            font-weight: 400;
                            letter-spacing: 1px;
                        }
                    }
                }

                mat-divider {
                    border: 2px solid #000;
                    border-radius: 20%;
                }

                mat-card-actions {
                    display: flex;
                    gap: 4%;
                    justify-content: center;
                    padding: 1.4em 0em;

                    .action-btn {
                        background-color: darken($secondary-clr, 38%);
                        color: #eee;
                        font-size: 1.2em;
                        width: 24%;
                        padding: 0.2em;
                    }
                }
            }

        }
    }
}