.heading-blogs {
    margin-bottom: 4rem !important;
    margin-top: 3.8rem !important;
    position: relative;
    width: 100%;
    color: #fdc52c;
    text-align: left;
    border-bottom: 0.18rem solid #3e0c15f7;
    line-height: 0.4rem;

    & span {
        background: #3e0c15f7;
        padding: 0.92rem !important;
        border-radius: 0.4em;
        font-size: 0.78em;
    }

}