.heading-blogs {
    margin-bottom: 2rem !important;
    margin-top: 2rem !important;
    position: relative;
    width: 100%;
    color: rgba(25, 42, 194, 0.8274509804);

    &:after {
        content: "";
        height: 3px;
        width: calc(100% - 10rem);
        background: #999;
        display: block;
        position: absolute;
        top: 56%;
        right: 0;
    }

}