.super-hero-container {
    overflow: hidden;

    .hero-container {
        margin: 4rem auto 4rem auto;
        width: 94%;
        transform: translateX(7%);

        img {
            -webkit-animation: mover 1s infinite alternate;
            animation: mover 1s infinite alternate;
        }


    }
}


@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-2rem);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-2rem);
    }
}