@import '../app.component.scss'; 

.super-hero-container {
    overflow: hidden;

    .hero-container {
        margin: 4rem auto 4rem auto;
        width: 94%;
        transform: translateX(7%);

        img {
            -webkit-animation: mover 1s infinite alternate;
            animation: mover 1s infinite alternate;
        }

        h1 {
            font-size: 4.2em;
            color: $primary-txt-clr;

            h2 {
                font-size: 0.6em;
            }

        }

        .lead {
            color: darken(#f7fbcf, 60%); 
        }

        .btn-primary {
            background-color: darken($secondary-clr, 18%);
            color: #fff;
            border: none; 
        }

    }
}


@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-2rem);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-2rem);
    }
}