<div class="super-hero-container">
  <div class="hero-container row flex-lg-row-reverse align-items-center g-4 py-5">
    <div class="col-8 col-sm-8 col-lg-6">
      <img src="../../assets/head_logo.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="500"
        height="200" loading="lazy" />
    </div>
    <div class="col-lg-6">
      <h1 class="fw-bold lh-1 mb-4">
        FC NORTHERN YETI <br />
        <h2 class="display-8 fw-semibold mt-3">
          Uniting Nepalese hearts in Canada
        </h2>
      </h1>
      <p class="lead">
        Brotherhood FC, a spirited Nepalese community in Canada, not only scores
        goals on the football field but also in fostering unity, supporting fellow
        Nepalese, and promoting the beautiful game through passionate matches.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-5">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">
          Primary
        </button>
        <button type="button" class="btn btn-dark btn-lg px-4">Default</button>
      </div>
    </div>
  </div>
</div>