<div class="blog-content-container">
    <div>
        <article class="blog-post">
            <h2 class="blog-post-title">Sample blog post</h2>
            <p class="blog-post-meta">January 1, 2021 by <span class="author">Mark</span></p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae fuga nisi
                ea Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, deleniti consectetur! Architecto labore
                iste at neque debitis repudiandae minima nam deserunt odio natus, eveniet quod amet, cupiditate magnam
                autem quis.
                Molestiae, quo saepe accusamus corrupti eius numquam. Nostrum fugiat optio reiciendis impedit delectus
                quaerat doloremque sint veritatis, placeat quod tempore, voluptas iure consectetur. Voluptatum, quos
                temporibus cum ut cupiditate excepturi.
                accusantium. Quia dolorem sapiente nam adipisci?
                Itaque ullam, quia omnis saepe consequatur voluptas vero officiis quasi odit sit?</p>
        </article>
    </div>
</div>