.blog-content-container {
    background-color: #3e0c15f7;
    height: 90vh;
    padding: 2em;

    .author {
        color: #fdc52c;
        font-weight: bold;
        font-size: 1.2em;
    }

    h2 {
        color: #fff;
    }

    .blog-post-meta {
        color: #fdc52c91;
    }

    p {
        color: #fdc52ccd;
    }
}