@import '../../app.component.scss';

.navbar {
    // background: #3e0c15e3 !important;
    background-color: #3e0c15f7 !important;
    // box-shadow: 4px 1px 12px 2px rgba(255, 255, 255, 0.8274509804);
    padding: 0rem 2rem !important;

    &-brand {
        width: 82%;

        &-logo {
            width: 7%;
            border-radius: 50%;
        }
    }

    &-nav {
        font-size: 1.28rem;
        font-weight: 420;

        .nav-link {
            color: #fff;
            @include hover-color(#000);
            transition: ease-in-out 200ms;
        }

    }

}