@import '../../app.component.scss';

.navbar {
    // border: 2px solid red;
    box-shadow: 4px 1px 12px 2px rgba(25, 42, 194, 0.8274509804);
    padding: 0rem 2rem !important;

    &-brand {
        width: 82%;

        &-logo {
            width: 7%;
            border-radius: 50%;
        }
    }

    &-nav {
        font-size: 1.28rem;
        font-weight: 400;

        .nav-link {
            color: #000;
            @include hover-color(#000);
            transition: ease-in-out 200ms;
        }

    }

}