@import '../../app.component.scss';

.navbar {
    padding: 0rem 2rem !important;
    background: #3e0c15f7 !important;

    &-brand {
        width: 82%;

        &-logo {
            width: 7%;
            border-radius: 50%;
        }
    }

    &-nav {
        font-size: 1.28rem;
        font-weight: 400;

        .nav-link {
            color: #fdc52c;
            @include hover-color(#fdc52c);
            transition: ease-in-out 200ms;
        }

    }

}