@import '../app.component.scss';

$indentation: 0rem 2rem;

.super-content {
    overflow-x: hidden;
    background: darken($secondary-clr, 18%); 
}

.main-content {
    max-width: 1800px !important;
    margin: auto;  

    &-articles {
        &-blog {
            &-context {
                padding: $indentation;
            }
        }

        &-achievement {
            position: relative;

            &-context {
                position: relative; 
                left: -5%; 
                width: 106%;
                &-content { 
                    margin-top: 2em;
                }
            }
        }

        &-gallery {
            background: #222;
            margin: 0 !important; 
            position: relative; 
            width: 110vw;
            left: -4%;
            padding-left: 10em;
            padding-right: 10em; 
            padding-top: 2em; 
            padding-bottom: 2em;      

            &-context {
                @include spread-around();
            }
        }


        &-members {
            background: #111;
            margin: 1em 0em !important; 
            position: relative; 
            width: 110vw;
            left: -4%;
            padding-left: 10em;
            padding-right: 10em; 
            padding-top: 2em; 
            padding-bottom: 2em;    

            &-context {

                &-inner-context {
                    width: 78%;
                    margin: auto;
                }
            }
        }
    }



}