@import '../app.component.scss';

$indentation: 0rem 2rem;

.main-content {
    overflow-x: hidden;
    padding: $indentation;

    &-articles {
        &-blog {
            &-context {
                padding: $indentation;
            }
        }

        &-achievement {

            .divider {
                &-content {
                    position: relative;
                    border: 3px solid white;
                }
            }

            &-context {
                @include spread-around();
                background: linear-gradient(0deg, rgba(9, 9, 121, 1) 35%, rgba(25, 42, 194, 0.8274509804) 100%);
                box-shadow: 5px 5px 8px 5px rgba(25, 42, 194, 0.8274509804);
                background: rgb(2, 0, 38);

                &-content {
                    // padding: $indentation;
                    width: 80%;
                    margin: auto;
                    border: none;
                    border-radius: 1.4rem;
                    // background: rgb(2, 0, 38);
                    transform: translateX(0.5%);

                    &:nth-child(1) {
                        padding: 0 !important;
                    }
                }

                &-sub-achievement {
                    @include spread-around();
                    padding: 0em 2em;
                    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(12, 12, 179, 1) 0%, rgba(2, 0, 38, 1) 100%) !important;
                }
            }
        }

        &-gallery {
            &-context {
                @include spread-around();
                background-color: #444;
            }
        }


        &-members {

            &-context {
                @include spread-around();
                background: linear-gradient(0deg, rgb(25, 71, 151) 35%, rgb(33, 81, 165) 100%);

                &-inner-context {
                    width: 80%;
                    margin: auto;
                    transform: translateX(-2%);
                }
            }
        }
    }



}