<div class="main-content">
  <div class="main-content-heading">
    <app-typographical-headings></app-typographical-headings>
  </div>
  <div class="main-content-articles">
    <div class="main-content-articles-blog">
      <div class="main-content-articles-blog-major-blog">
        <app-blog></app-blog>
      </div>
      <div class="main-content-articles-blog-minor-blog">
        <app-minor-blogs></app-minor-blogs>
      </div>
    </div>
    <div class="main-content-achievement">
      <app-achievements></app-achievements>
    </div>
  </div>
</div>