@import '../app.component.scss';

$indentation: 0rem 2rem;

.super-content {
    overflow-x: hidden;
    background: #fff; 
}

.main-content {
    max-width: 1800px !important;
    margin: auto;  

    &-articles {
        &-blog {
            &-context {
                padding: $indentation;
            }
        }

        &-achievement {

            .divider {
                &-content {
                    position: relative;
                    border: 3px solid white;
                }
            }

            &-context {
                @include spread-around();

                &-content {
                    width: 60%;
                    margin: auto;
                    position: relative; 
                    left: -2%; 
                    border: none;
                    border-radius: 1.4rem;
                    transform: translateX(0.5%);

                    &:nth-child(1) {
                        padding: 0 !important;
                    }
                }

                &-sub-achievement {
                    @include spread-around();
                    padding: 0em 2em;
                }
            }
        }

        &-gallery {
            &-context {
                @include spread-around();
            }
        }


        &-members {


            &-context {
                @include spread-around();

                &-inner-context {
                    width: 78%;
                    margin: auto;
                }
            }
        }
    }



}