@mixin hover-color-bg-darken($clr) {
    &:hover {
        background-color: darken($clr, 10%);
        color: darken(#fff, 10%);
    }
}

@mixin hover-color($clr, $state: 'true') {
    &:hover {
        @if ($state=='true') {
            color: lighten($clr, 52%);
        }

        @else {
            color: darken($clr, 4%);
        }
    }
}

@mixin hover-color-custom($clr, $opacity) {
    &:hover {
        color: lighten($color: $clr, $amount: $opacity)
    }
}

@mixin hover-underline($clr, $opacity) {
    &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
        background-color: lighten($clr, $opacity);
    }
}

@mixin spread-around() {
    width: 120%;
    position: relative;
    left: -10%;
}

* {
    box-sizing: border-box;
}

.color-fade {
    background: linear-gradient(to bottom, #3e0c15f7 40%, #fff);
    padding: 2em; 
}