@import '../../app.component.scss';

.container {
    background: linear-gradient(to top, darken($secondary-clr, 22%), #111 60%);
    margin-bottom: 2em; 
    display: flex;
    gap: 12%;
    justify-content: center;
    padding: 2em; 
    opacity: 1;
    border-top-left-radius: 4em;
    border-bottom-right-radius: 6em;
    border-bottom-left-radius: 1em; 

    &-img-section {
        width: 46%;
        padding: 1em;

        &-img {
            width: 90%;
        }
    }

    &-form {
        width: 60%;
        color: #eee;
        padding: 1.4em 1.8rem;
        border-top-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        border-top-right-radius: 0.2rem;
        border-bottom-left-radius: 0.2rem;

        & {

            label {
                font-size: 1.1em;
                padding-bottom: 0.3em;
            }

            input,
            textarea {
                padding: 0.6em;
                margin-bottom: 0.2em;
            }

            .button-form {
                width: 100%;
                display: block;
                text-align: right;

                button {
                    padding: 0.4em 0.8em;
                    font-size: 1.4em;
                    margin-top: 1em;
                    background-color: lighten($primary-clr, 14%);
                    font-weight: 500;
                    border: none;
                    
                    &:hover {
                        border: none;
                        background-color: lighten($primary-clr, 18%);
                    }
                }
            }


        }

    }

}