.notice-bar {

    &-content {
        background-color: #222;
        color: #fff;
        font-weight: bold;

        &-allow-btn {
            background-color: #00B4D8;
            padding: 0.4rem;
            font-size: 0.4rem;
        }

        &-decline-btn {
            background-color: #FFC600;
            padding: 0.4rem;
            font-size: 0.4rem;
        }

    }

}