@import '../../app.component.scss'; 

.container-minor-blogs {
    width: 98%;
    margin: auto;

    .content-box {
        cursor: pointer;
        background-color: darken($secondary-clr, 30%);
        border-radius: 2em; 
        border: none; 

        strong {
            font-size: 1.4em;
            color: $primary-txt-clr !important;
        }

        h3 {
            font-size: 1.2em;
            color: #fff;
        }

        .date {
            font-size: 1em;
            color: #ccc;
        }

        .card-text {
            color: #fff;
        }

        button {
            color: #cb9708;
        }
    }

    .rounded-left {
        border-top-left-radius: 2em;
        border-bottom-left-radius: 2em;
    }

}