<section>
    <div class="super-container">
        <div class="title-container">
            <span class="title-container-title title-main-stories">Stories</span>
        </div>
        <div class="grid-container">
            <div class="item1">
                <div class="contents"> 
                    <h1>Cultural Connection</h1>
                    <small>Brotherhood FC serves as a vibrant hub for the Nepalese community
                         in Canada, bringing together individuals who share a love for their 
                         culture, heritage, and the beautiful game.</small>
                </div>
            </div>
            <div class="item2">Unity in Diversity</div>
            <div class="item3">
                <div class="contents"> 
                    <h1>Passionate Matches</h1>
                    <small>Brotherhood FC serves as a vibrant hub for the Nepalese community
                         in Canada, bringing together individuals who share a love for their 
                         culture, heritage, and the beautiful game.</small>
                </div>
            </div>
            <div class="item4">Youth Engagement</div>
            <div class="item5">Community Support</div>
            <div class="item6">Promoting Nepalese Culture</div>
            <img src="../../../assets/logo.jpg" class="center" />
        </div>
        
    </div>
</section>