@import '../../app.component.scss'; 

$color_1: #fff;
$font-family_1: Montserrat;

@import "https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap";

.super-container {
    position: relative; 
    border-radius: 2em;
    margin-top: auto; 
    background: linear-gradient(to left, darken($secondary-clr, 18%) 0%, darken($primary-clr, 3%) 90%);
    padding: 4em; 
    margin: auto;

    .title-container {
        background-color: darken($primary-clr, 1%);
        border-radius: 4em;
        width: 100%;
        font-family: $font-family_1;
        text-align: center; 
        margin-bottom: 2.2em;  
        &-title {
            color: $primary-txt-clr;
            font-size: 4em; 
            font-weight: bolder;
            text-shadow: 4px 4px 12px rgb(0, 0, 0);
        }
    }
}

.item1 { grid-area: pos_1; }
.item2 { grid-area: pos_3; }
.item3 { 
    grid-area: pos_4;
    height: 60%;
    align-self: center;
}
.item4 { 
    grid-area: pos_6;
    height: 60%;
    align-self: center;
}
.item5 { grid-area: pos_7; }
.item6 { grid-area: pos_9; }


section .super-container .grid-container .center { 
    width: 80% !important;
    border-radius: 50%; 
    margin: auto; 
    grid-area: pos_5;
    border: 4px solid black; 
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8) !important; 
    z-index: 1;
    position: relative;
    animation: scaleRotate 4s infinite;
}

@keyframes scaleRotate {
    0% {
        transform: scale(1) rotate(0deg); 
    }
    50% {
        transform: scale(1.2) rotate(180deg);
    }
    100% {
        transform: scale(1) rotate(360deg); 
    }
}

.grid-container {
    display: grid; 
    grid-template-areas: 
        'pos_1 pos_2 pos_3'
        'pos_4 pos_5 pos_6'
        'pos_7 pos_8 pos_9';
    gap: 4em; 
    justify-items: center;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    width: 24vw;
    padding: 2em; 
}