// @tailwind base;
// @tailwind components;
// @tailwind utilities;


::-webkit-scrollbar {
    width: 10px !important;
    background: #888 !important;
}

::-webkit-scrollbar-thumb {
    background: #333 !important;
    border-radius: 1.2rem;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
