@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 10px !important;
    background: #888 !important;
}

::-webkit-scrollbar-thumb {
    background: #333 !important;
    border-radius: 1.2rem;
}

body {
    // background: rgba(20, 34, 161, 1);
}