<section>
    <div class="container">
        <div class="row">
            <div class="card card-circle">
                <div class="card-icon">
                    <img src="../../assets/trophy.png" class="card-icon-img" alt="">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Apple</h5>
                    <p class="card-text">Some quick example text to build on the card title and card content.</p>
                    <a href="#" class="btn btn-primary">Eat me</a>
                </div>
            </div>
            <div class="card card-circle">
                <div class="card-icon">
                    <i class="fas fa-cookie"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Cookie</h5>
                    <p class="card-text">Some quick example text to build on the card title and card content.</p>
                    <a href="#" class="btn btn-primary">Eat me</a>
                </div>
            </div>
            <div class="card card-circle ">
                <div class="card-icon">
                    <i class="fas fa-carrot"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Carrot</h5>
                    <p class="card-text">Some quick example text to build on the card title and card content.</p>
                    <a href="#" class="btn btn-primary">Eat me</a>
                </div>
            </div>
        </div>
    </div>
</section>