<div class="gallery-sub-container">
    <div class="star">
        <img id="camera" src="../../../assets/camera.svg" alt="">
    </div>
    <div class="content-section">
        <div class="content-section-title gallery-sub-container-title">
            Gallery
        </div>
        <div class="content-section-contents">
            <h1>Celebrating the Nepalese Community in the Greater Toronto Area</h1>
            <i>Welcome to our gallery, where we celebrate the vibrant spirit of the Nepalese community through sports and engagement. Each image captures the camaraderie, determination, and cultural pride that define us.
                From spirited games to community gatherings, these moments reflect our shared journey and the connections we build. Explore this collection as a testament to our talent, resilience, and the heart of our community—one image at a time.</i>
        </div>
    </div>
    <div class="gallery-viewer">
        <div class="gallery-super-container-image-section">
            <app-carousel [slides]="slides"></app-carousel>
        </div>
        <div class="gallery-expansion-panel">
            <mat-accordion class="gallery-expansion-panel-accordian" multi>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Photos
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="image-container">
                        <img *ngFor="let slide of slides" [src]="slide.url" alt="No Image Found!"
                            (click)="openDialog('300ms', '300ms')">
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>