.gallery-sub-container {
    height: 100%;
    width: 48%;
    transform: scaleX(1.12);
    padding: 2em;
    margin: auto;
    border-radius: 0.8em;

    .gallery-expansion-panel {
        box-shadow: 1em 2.2em 0.2em rgba(0, 0, 0, 0.5);

        &-accordian {

            mat-expansion-panel {
                background-color: #eee !important;
                border-radius: 0.8em;

                mat-panel-description,
                mat-panel-title {
                    color: #2f2f2f;
                    font-size: 1.4em;
                    transform: scaleX(0.8) !important;
                    justify-content: center;
                    position: relative;
                    left: 1em;
                }

                .image-container {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 1.2em;

                    img {
                        cursor: pointer;
                        width: 100%;
                        border-radius: 0.8em;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}